div.board {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 2px solid black;
}

button.grid {
    font-size: 80px;
    text-align: center;
}

button.start {
    font-size: 100px;
}